@import '../config/config.css';

/* var(--colors-border) */

/* :root {
  --colors-border: #9e9e9e;
} */

.game-canvas{
    border: 5px solid var(--colors-border);
    border-radius: var(--border-radius);
    background-color: var(--colors-gameFildBG);
}